<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Download de Arquivos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/download.css') }}">
</head>
<body>
    <h1>Download de Arquivos</h1>
    <ul>
        {% for file in files %}
            <li>
                <a href="{{ url_for('download', filename=file.filename) }}">{{ file.name }}</a>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('home') }}" class="back-link">Voltar para a Tela Principal</a>
    
</body>
</html>

