<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="pesquisa.css">
    <title>Pesquisa de Aplicativos</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Pesquisa de Álbuns</h1>
            <p>Encontre o álbum que você deseja</p>
        </header>

        <form method="POST">
            <div class="form-group">
                <input type="text" name="nome" placeholder="Digite o nome do álbum" required>
                <button type="submit" class="music-btn">Pesquisar</button>
            </div>
        </form>

        {% if álbuns %}
            <section class="results">
                <h2>Resultados da Pesquisa:</h2>
                <ul>
                    {% for album in albuns %}
                        <li class="app-card">
                            <strong>{{ album.nome }}</strong><br>
                            <span>Genero: {{ album.genero }}</span><br>
                            <span>Artista: {{ album.artista }}</span><br>
                            <span>Data de Lançamento: {{ album.data_lancamento }}</span><br>
                            <span>Musicas: {{ musicas }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% else %}
            <p class="no-results">Nenhum album encontrado.</p>
        {% endif %}
<br>
        <a href="../index.html" class="back-link">Voltar para a Tela Principal</a>
    </div>
</body>
</html>
