<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="pesquisa.css">
    <title>Pesquisa de Aplicativos</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Pesquisa de Álbums</h1>
            <p>Encontre o álbum que você deseja</p>
        </header>

        <form method="POST">
            <div class="form-group">
                <input type="text" name="nome" placeholder="Digite o nome do aplicativo" required>
                <button type="submit" class="music-btn">Pesquisar</button>
            </div>
        </form>

        {% if aplicativos %}
            <section class="results">
                <h2>Resultados da Pesquisa:</h2>
                <ul>
                    {% for album in albuns %}
                        <li class="app-card">
                            <strong>{{ Nome }}</strong><br>
                            <span>Genero: {{ aplicativo.descricao }}</span><br>
                            <span>Artista: {{ aplicativo.versao }}</span><br>
                            <span>Data de Lançamento: {{ aplicativo.data_lancamento }}</span><br>
                            <span>Musicas: {{ musicas }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% else %}
            <p class="no-results">Nenhum album encontrado.</p>
        {% endif %}
<br>
        <a href="../index.html" class="back-link">Voltar para a Tela Principal</a>
    </div>
</body>
</html>
