<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}">
    <title>Cadastro de Álbum</title>
</head>
<body> 
    <div class="container">
        <h1>Cadastro de Álbum</h1>
        <form action="/cadastro" method="post">
            <label for="nome">Nome do Álbum:</label><br>
            <input type="text" id="nome" name="nome" placeholder="Digite o nome do álbum" required><br><br>

            <label for="genero">Gênero:</label><br>
            <input type="text" id="genero" name="genero" placeholder="Digite o gênero do álbum" required><br><br>

            <label for="artista">Artista:</label><br>
            <input type="text" id="artista" name="artista" placeholder="Digite o artista do álbum" required><br><br>

            <label for="data_lancamento">Data de Lançamento:</label><br>
            <input type="date" id="data_lancamento" name="data_lancamento" placeholder="Digite a data de lançamento do álbum" required><br><br>

            <label for="musicas">Músicas:</label><br>
            <textarea id="musicas" name="musicas" placeholder="Digite as músicas do álbum separadas por vírgula" required></textarea><br><br>

            <input type="submit" value="Cadastrar"> 
        </form>
        <br>
        <a href="{{ url_for('home') }}" class="back-link">Voltar para a Tela Principal</a>
    </div>
</body>
</html>
