<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/exportacao.css') }}">
    <title>Exportar Álbums</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Exportar Álbum</h1>
            <p>Digite o nome do álbum para exportação.</p>
        </header>

        <form method="POST">
            <div class="form-group">
                <label for="nome_arquivo">Nome do Álbum:</label>
                <input type="text" name="nome_arquivo" placeholder="Digite o nome do álbum" id="nome_arquivo" required>
            </div>
            <button type="submit" class="music-btn">Exportar Álbum</button>
        </form>

        <a href="{{ url_for('home') }}" class="back-link">Voltar para a Tela Principal</a>
    </div>
</body>
</html>
